# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Git & OS
.git/
.gitignore
.DS_Store

# Dati pesanti
*.csv
data/
notebooks/
outputs/

# Cache
.cache/
huggingface/
transformers_cache/

# Local runs
plots/
