# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.pytest_cache/
.mypy_cache/
ruff_cache/
dist/
build/
*.egg-info/

# Git & OS
.git/
.gitignore
.DS_Store

# Dati pesanti
*.csv
data/
notebooks/
outputs/
artifacts/
*.bin
*.pt
*.safetensors
*.onnx
*.pkl
*.joblib

# Cache
.cache/
huggingface/
transformers_cache/

# Local runs
plots/
